@tailwind base;
@tailwind components;
@tailwind utilities;

.recipes-page{
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
  text-align: center;
}

.recipes-inner{
  display:inline-block;
  margin: 0 auto;
}


.card {
	background-color: white;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
	color: #272727;
	border-radius: 10px;
	border: 0px;
	border-color: #ECB390;
	border-style: solid;
	transition: 200ms;
    max-width: 380px;
}

.card:hover {
	transition: 200ms;
	border: 3px;
	border-color: #ECB390;
	border-style: solid;
}

.card-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

}

.profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 50%;
	margin: 10px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
}

.letter {
	vertical-align: middle;
}

.card-title-group {
	justify-content: center;
}

.card-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
}
.card-date {
	flex: 0.3;
	font-size: small;
	margin-top: 0;
}

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 300px;
  height: 200px;
  object-fit: cover;

}
.card-like-icon {
	height: 25px;
}

.card-text {
	width: 350px;
	font-size: medium;
}

.card-like-bar {
	display: flex;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

.like-text {
	font-size: small;
	margin-left: 10px;
}