@tailwind base;
@tailwind components;
@tailwind utilities;

.recipes-page{
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
  text-align: center;
}

.recipes-inner{
  display:inline-block;
  margin: 0 auto;
}

/* .recipes-favorite-button{
  background: url('http://imgur.com/I0EwG.png') transparent;
    height: 48px;
    width: 45px;
    border: none;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
} */

/*Resize the wrap to see the search bar change!*/
/* .recipes-search-bar{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


.card {
	background-color: white;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
	color: #272727;
	border-radius: 10px;
	border: 0px;
	border-color: #ECB390;
	border-style: solid;
	transition: 200ms;
    max-width: 380px;
}

.card:hover {
	transition: 200ms;
	border: 3px;
	border-color: #ECB390;
	border-style: solid;
}

.card-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

}

.profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 50%;
	margin: 10px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
}

.letter {
	vertical-align: middle;
}

.card-title-group {
	justify-content: center;
}

.card-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
}
.card-date {
	flex: 0.3;
	font-size: small;
	margin-top: 0;
}

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 300px;
  height: 200px;
  object-fit: cover;

}
.card-like-icon {
	height: 25px;
}

.card-text {
	width: 350px;
	font-size: medium;
}

.card-like-bar {
	display: flex;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

.like-text {
	font-size: small;
	margin-left: 10px;
}